<?xml version="1.0" encoding="UTF-8"?>

<launch> 
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <include file="$(find busroute)/launch/gmapping_demo.launch"/>
  <node pkg="busroute" type="colordetecter" name="colordetecter" output="screen"/>
<node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find busroute)/config/busrouting.rviz"/>
</launch>
